// Place all the styles related to the mainpage/index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// All the imports are GDS styling

@import '_typography';
@import '_colours';
@import 'design-patterns/_buttons';
@import 'design-patterns/_alpha-beta';
@import '_grid_layout';

h1 {
	@include heading-80;
	font-weight:bold;
}

h2 {
	@include heading-48;
	font-weight:bold;
	border-bottom: solid $purple-50 10px
}

h2.subtitle {
	font-weight:normal;
	font-style:italic;
	color: $secondary-text-colour;
}

p {
	@include core-19;
}

table {
	@include core-19;
	width:100%;
}

th {
	font-weight:bold;
	text-align:left;
}

td {
	padding: 5px 0;     /* 10px top & bottom padding, 0px left & right */
    border-width: 1px 0 0 0; /*  1px top & bottom border,  0px left & right */
    border-color: #000;
    border-style: solid;
}


.form_field { 
	@include core-19; 
}

form, input, select, textarea { 
	@include core-19; 
}

input:focus {
	outline: 3px solid #ffbf47;
}

.phase-banner  {
  @include phase-banner(alpha);
}

.top_nav_bar {
	position: relative;
}

ul li {
  padding: 0px;
  position: relative;
  list-style: none;
  display: inline;
}

.app_header {
	padding:10px 0px;
	border-bottom: solid $purple 10px;
}

.nav_button{
	position: absolute;
  @include button;   /* GDS button style */
  @include core-19;
}

.password_change{
	border-style: solid;
    border-width: 0px;
}

.logout{
	float: right;
	left: auto;
	top: auto;
}

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}