<h1>Listing role_skills</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @role_skills.each do |role_skill| %>
      <tr>
        <td><%= link_to 'Show', role_skill %></td>
        <td><%= link_to 'Edit', edit_role_skill_path(role_skill) %></td>
        <td><%= link_to 'Destroy', role_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role skill', new_role_skill_path %>
