<h1>Listing dev_activities</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dev_activities.each do |dev_activity| %>
      <tr>
        <td><%= link_to 'Show', dev_activity %></td>
        <td><%= link_to 'Edit', edit_dev_activity_path(dev_activity) %></td>
        <td><%= link_to 'Destroy', dev_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dev activity', new_dev_activity_path %>
