<%#The skeleton page for recording new dev activities - renders the form from dev_activities %>

<div class="outer-block">
  <div class="inner-block">

	<h2>Add Development Activity</h2>

	<%= render 'form' %>

  </div>
</div>
