<div class="outer-block">
  <div class="inner-block">

    <h2>Your Skills</h2>
    <p>
      <%= link_to('Add Skill', new_user_user_skill_path(current_user), class: "nav_button") %> 

      <%= link_to "My Development Activities", user_dev_activities_users_path(current_user), class: "nav_button" %>
    </p>

    <table>
      <thead>
        <tr>
          <th>Skill Name</th>
          <th>Skill Level</th>
        </tr>
      </thead>

      <tbody>
        <% @user.user_skills.each do |user_skill| %>
          <tr>

            <td><%= user_skill.skill.skill_name %></td>

            <td><%= user_skill.skill_level %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
