<div class="outer-block">
  <div class="inner-block">

	<h2> Skill </h2>

	<p>
  		<strong>Skill Name: </strong>
  		<%= @skill.skill_name %>
	</p>

	<p>
  		<strong>Skill Code: </strong>
  		<%= @skill.skill_code %>
	</p>

	<p>
  		<strong>Skill Type: </strong>
  		<%= @skill.skill_type %>
	</p>

  </div>
 </div>