
<h1>Admin Dashboard</h1>

<%= link_to('Manage Skills', skills_path, class: "nav_button") %>

<%= link_to('Manage Job Roles', roles_path, class: "nav_button") %>

<%= link_to('Manage Users', users_path, class: "nav_button") %>

