<div class="outer-block">
    <div class="inner-block">

		<h2>Line Management Dashboard</h2>

		<%= link_to('View My Team', linemanager_team_users_path, class: "nav_button") %>

		<%= link_to('Add to Team', new_user_users_linemanager_path(current_user), class: "nav_button") %>

		<%= link_to('Search for Skills', linemanager_skill_search_users_path, class: "nav_button") %>

	</div>
</div>
