<%#This is just the mainscreen which displays when you go to the app.  Nothing much really belongs here %>

<div class="outer-block">
  <div class="inner-block">

	<h1>Dev Activity App</h1>
	<h2 class="subtitle">Your Online Portfolio</h2>

  </div>
</div>
