<div class="outer-block">
  <div class="inner-block">

	<h2>Job Role</h2>

	<p>
  		<strong>Job Role: </strong>
  		<%= @role.role_name %>
	</p>

	<p>
  		<strong>Role Description: </strong>
  		<%= @role.role_description %>
	</p>

  </div>
</div>

