<div class="outer-block">
  <div class="inner-block">

	<h2>Job Role</h2>

	<p>
  		<strong>Job Role: </strong>
  		<%= @role.role_name %>
	</p>

	<p>
  		<strong>Role Description: </strong>
  		<%= @role.role_description %>
	</p>

	<% for role_skill in @role.role_skills %>

	<li> <%= role_skill.skill.skill_name %> </li>

	<% end %>

	<%= link_to "Back to Roles", roles_path, class: "nav_button" %>	

  </div>
</div>

